.App {
  max-width: 1200px;
  min-width: 800px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: x-large;
}

.component-style {
  width: 450px;
  height: 200px;
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-btns {
  width: 120px;
  display: flex;
  justify-content: space-between;
}
