.App {
  max-width: 1200px;
  min-width: 800px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 60px;
  font-size: x-large;
  font-weight: 600;
}

.form-style {
  background-color: rgb(224, 223, 223);
  height: 60px;
  padding-top: 30px;
  padding-left: 5px;
  border-radius: 10px;
  font-weight: 600;
}

.form-btn {
  margin: 0 50px;
  padding: 5px 20px 5px 20px;
  float: right;
  border-radius: 10px;
  color: white;
  background-color: rgb(35, 128, 110);
}

.component-style {
  width: 300px;
  height: 150px;
  font-size: large;
  border: 3px solid rgb(35, 128, 110);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 7px 20px 0px rgb(146, 145, 145);
  padding: 22px;
  background-color: rgb(244, 243, 243);
}

.component-style p:first-child {
  font-size: 20px;
  font-weight: 600;
}

.toggle-btns {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.toggle-btns button {
  padding: 3px 7px 3px 7px;
  border-radius: 10px;
  color: rgb(35, 128, 110);
  background-color: white;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
